<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
       <section class="projects">
            <h1 class="section-title">My Projects</h1>
                <div class="cards-container">
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project1.JPG"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Project Info Retriever</h4>
                        <p>
                            A database system which can retrieve data about different projects in a company.
                        </p>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project2.JPG"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Software Design</h4>
                        <p>
                            An overview of how a software is to be made and what aspects are needed to be covered.
                        </p>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project3.JPG"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Pet Adoption Services</h4>
                        <p>
                           Pet adoption services project with a web interface.
                        </p>
                    </div>
                </div>
            </div>
       </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>